.left_box{background:#343645; border:1px solid #000; min-height:690px;}
.user_image, .user{border:1px solid #999; color:#f4f4f4;}
.welcome_bg{background:#a589d4;}
.quicklink{margin-top:10px; min-height:600px;}
.quicklink li{list-style:none; padding:15px; color:#f4f4f4; border-bottom:1px solid #CCC;}


.right_box{background:#f4f4f4; border:1px solid #000; min-height:690px;}
.menu{margin-top:30px;}
.jumbotron_custom{padding: 100px !important; margin:10px 0 30px 0 !important;}
.box{border:1px solid #999; color:#f4f4f4; min-height:150px; margin:5px;}

.project{border:1px solid #CCC; min-height:217px;}