@charset "utf-8";
/* CSS Document */
body{overflow-x:hidden; background:#fff;}

.left_box{background:#343645; border:1px solid #ccc; min-height:90px;}
.user_image{/*border:1px solid #999;*/ box-sizing:border-box; width:69px; height:68px; padding:10px;} 
.user{/*border:1px solid #999;*/ box-sizing:border-box;}

.user_image img{border-radius:50%; vertical-align:central;}
.welcome_bg{background:#a589d4;}
.welcome_bg a {text-decoration:none;}
.quicklink{margin-top:10px; height:684px; }
.sidebar_menu{margin:0; padding:0;}
.quicklink li{list-style:none; padding:15px; color:#f4f4f4; border-bottom:1px solid #CCC;}


.right_box{background:#f4f4f4; border-bottom:1px solid #ccc; min-height:770px;}
.menu{margin-top:30px;}

.jumbotron_custom{padding:100px 100px 78px 100px; margin:10px 0 30px 0 !important; }
.box_wrapper{padding:0; /*border:1px solid #999;*/ min-height:100px; }
.box{padding:5px 0 5px 25px; margin:0; min-height:100px; }
.box_label{padding:0; margin:0px; text-align:center; height:100%; width:100%; /*border:1px solid #999;*/}


.project{margin:20px 20px 10px 20px; border:1px solid #CCC; min-height:250px; background:#ffffff;}

.footer{/*border:1px solid #999;*/ background-color:#ddd; min-height:50px; }


/******************************** fonts *********************************************/

.welcome_bg h1{color:#f4f4f4; font-size:16px; font-family:Arial, Helvetica, sans-serif;}
.welcome_bg a {color:#f4f4f4; font-size:12px; font-family:Arial, Helvetica, sans-serif;}